<div class="content-wrapper">
    <section class="content-header">
        <h1>Department Section</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">List of all Departments</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" rowspan="1" colspan="1" >#</th>
                                            <th class="sorting" rowspan="1" colspan="1" >Company</th>
                                            <th class="sorting" rowspan="1" colspan="1" >Department Name</th>
                                            <th class="sorting" rowspan="1" colspan="1" >Department Description</th>
                                            <th class="sorting" rowspan="1" colspan="1" >Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr role="row" class="odd" *ngFor="let item of (afterLoginState | async).department.list | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{item.user_details.company}}</td>
                                            <td>{{item.department_name}}</td>
                                            <td>{{item.department_details}}</td>
                                            <td>
                                                <!--<button type="button" class="btn btn-primary btn-xs">-->
                                                    <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                                                     <!--View-->
                                                <!--</button>-->
                                                <button type="button" class="btn btn-warning btn-xs" (click)="onEdit(item.id)">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                     Edit
                                                </button>
                                                <!--<button type="button" class="btn btn-danger btn-xs">-->
                                                    <!--<i class="fa fa-trash" aria-hidden="true"></i>-->
                                                     <!--Delete-->
                                                <!--</button>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">#</th>
                                            <th rowspan="1" colspan="1" >Company</th>
                                            <th rowspan="1" colspan="1">Department Name</th>
                                            <th rowspan="1" colspan="1">Department Description</th>
                                            <th rowspan="1" colspan="1">Actions</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- Pagination -->
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of {{ (afterLoginState | async).department.list.length }} entries</div>
                                </div>
                                <div class="col-sm-7 text-right">
                                    <pagination-controls
                                            (pageChange)="p = $event"
                                            directionLinks="true"
                                            previousLabel="Previous"
                                            nextLabel="Next">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
