<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a [routerLink]="['/']"><b>TM</b>SMS</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Submit your email and check mail.</p>

      <form #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-group has-feedback">
          <input type="email"
                 class="form-control"
                 placeholder="Email"
                 name="email"
                 email
                 required
                 ngModel
                 #email="ngModel"
          >
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
          <div *ngIf="form.controls.email?.errors.email">
            Please Enter a Proper Email Address!
          </div>
          <div *ngIf="form.controls.email?.errors.required">
            Your Email Address is Required!
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8">
            <!--<div class="checkbox icheck">-->
            <!--<label>-->
            <!--<input type="checkbox"> Remember Me-->
            <!--</label>-->
            <!--</div>-->
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit"
                    class="btn btn-primary btn-block btn-flat"
                    [disabled]="form.invalid"
            >
              Submit
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <a [routerLink]="['/sign-up']" class="text-center">Register a new membership</a><br/>
      <a [routerLink]="['/sign-in']">I already have a membership</a>

    </div>
    <!-- /.login-box-body -->
  </div>

</div>
