<div class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a [routerLink]="['/']"><b>TM</b>SMS</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Reset Password</p>

      <form [formGroup]="form" (submit)="onResetPassword()">
        <!-- Password -->
        <div class="form-group has-feedback">
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 formControlName="password"
          >
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div *ngIf="form.get('password').invalid && form.get('password').touched">
          <div class="alert alert-danger">
            <div *ngIf="form.get('password').hasError('required')">
              Your Password is Required!
            </div>
            <div *ngIf="form.get('password').hasError('minlength')">
              Your Password should be at least 6 Characters Long!
            </div>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group has-feedback">
          <input type="password"
                 class="form-control"
                 placeholder="Retype Password"
                 formControlName="conf_pass"
          >
          <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div *ngIf="form.get('conf_pass').invalid && form.get('conf_pass').touched">
          <div class="alert alert-danger" >
            <div *ngIf="form.get('conf_pass').hasError('required')">
              Confirm password is Required!
            </div>
            <div *ngIf="form.get('conf_pass').hasError('confirmPassword')">
              Confirm Password did not Match!
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8">
            <!--<div>-->
            <!--<input class="styled-checkbox" id="styled-checkbox" type="checkbox" value="1">-->
            <!--<label for="styled-checkbox">I agree to the <a href="#">terms</a></label>-->
            <!--</div>-->
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit"
                    class="btn btn-primary btn-block btn-flat"
                    [disabled]="form.invalid"
            >
              Submit
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div>
</div>