<div class="content-wrapper">
  <section class="content-header">
    <h1>Agent List</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li *ngIf="chatMode"><a href="javascript:void(0)">Chats</a></li>
      <li *ngIf="!chatMode"><a href="javascript:void(0)">Contact</a></li>
      <li class="active"><a href="javascript:void(0)">List</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Agent List</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row"><div class="col-sm-12">
              <table id="chatList" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
              <thead>
              <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">#</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">First Name</th>
                <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="descending">Last Name</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Email</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Phone</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Department</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Action</th>
              </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let item of (chatState | async).agentList; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.first_name}}</td>
                <td>{{item.last_name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phone}}</td>
                <td>{{item.department_agent_mapping.department_details.department_name}}</td>
                <td>
                  <!-- Single button -->
                  <div class="btn-group" >
                    <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" *ngIf="chatMode" (click)="onViewChat(item.id)">
                      View Chats
                    </button>
                    <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" *ngIf="!chatMode" (click)="onViewContact(item.id)">
                      View Contact List
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            </div>
            </div>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!--<div class="msg-popup">-->
          <!--<p>This is a success msg!</p>-->
        <!--</div>-->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
</div>
