<div class="content-wrapper">
  <!--<section class="content-header">-->
    <!--<h1>Agent Section</h1>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>-->
      <!--<li><a routerLink="/agent/list">Agent</a></li>-->
      <!--<li class="active"><a href="javascript:void(0)">{{editMode ? 'Edit' : 'Create'}}</a></li>-->
    <!--</ol>-->
  <!--</section>-->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <!-- /.box-header -->
          <div class="box-body" *ngIf="(authState | async).twilioIsActive">
            <form #form="ngForm" (submit)="onSubmit(form)">
              <!-- text input -->
              <div class="box-header with-border">
                <h3 class="box-title">{{ editMode ? 'Edit': 'Create' }} Agent</h3>
              </div>
              <div class="row">
                <div *ngIf="(authState | async).isAdmin; then thenTemplateName else elseTemplateName"></div>

                <ng-template #thenTemplateName style="display: none;">
                  <input type="hidden" class="form-control"
                         name="adminName" autocomplete="off" readonly [value]="(authState | async).name">
                </ng-template>
                <ng-template #elseTemplateName>
                  <div class="col-md-6">
                    <div class="form-group autoListArea">
                      <label class="control-label" for="admin">
                        Admin for Agent
                      </label>
                      <input type="text" (keyup)="checkAdminname($event.target.value)"

                             [ngClass]="editMode ?  'form-control' : 'form-control' "
                             [ngModel]="adminName" name="adminName" (click)="checkAdminname($event.target.value)"
                             autocomplete="off" [readonly]="editMode" class="listBox" #selectOption>
                      <span *ngIf="( !editMode && this.adminName)" (click)="resetList()" class="hideList"> <i
                        class="fa fa-close"></i> </span>
                      <ul *ngIf="showThis" class="autoList" id="autoList">
                        <li *ngFor="let item of updatedlistOfAdmins; let i = index"><span
                          (click)="assignValue(item.id,item.first_name,item.last_name)">  {{item.first_name}} {{item.last_name}}  </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </ng-template>
                <input type="hidden" [ngModel]="agent.parentId" id="admin" name="parentId" #selectedAdmin>

                <!--<select-->
                <!--id="admin"-->
                <!--name="parentId"-->
                <!--[ngClass]="editMode || (authState | async).isAdmin ?  'btn-disabled form-control' : 'form-control' "-->
                <!--#selectedAdmin-->
                <!--[ngModel]="agent.parentId"-->
                <!--(change)="adminChanged(selectedAdmin.value)"-->
                <!--required style="opacity: 1 !important;"-->
                <!--&gt;-->
                <!--<option selected value="0">Choose...</option>-->
                <!--<option [value]="item.first_name"-->
                <!--*ngFor="let item of listOfAdmins; let i = index"-->
                <!--&gt;-->
                <!--{{item.first_name}} {{item.last_name}}-->
                <!--</option>-->
                <!--</select> OLD SELECT -->

                <div class="col-md-6">
                 <div class="col-md-10">
                  <div class="form-group">
                    <label class="control-label" for="department">
                      Department for Agent
                    </label>
                    <!--<select class="form-control"-->
                            <!--id="department"-->
                            <!--name="departmentId"-->
                            <!--#selectedDepartment-->
                            <!--[ngModel]="agent.departmentId"-->
                            <!--(change)="deptChanged(selectedDepartment.value)"-->
                            <!--required-->
                    <!--&gt;-->
                      <!--<option selected value="0">Choose...</option>-->
                      <!--<option [value]="item.id"-->
                              <!--*ngFor="let item of (afterLoginState | async).department.list; let i = index">-->
                        <!--{{item.department_name}}-->
                      <!--</option>-->
                      <!--<option value="99999991999999" style="font-weight: bold;">&#43; Create Department</option>-->
                    <!--</select>-->
                      <angular2-multiselect
                              id="department" name="departmentId"
                              [data]="(afterLoginState | async).department.list"
                              [(ngModel)]="agent.departmentId" [settings]="dropdownSettings" required>
                          <c-badge>
                              <ng-template let-item="item">
                                  <label style="margin: 0px;">{{item.department_name}}</label>
                              </ng-template>
                          </c-badge>
                      </angular2-multiselect>
                  </div>
                </div>
                  <div class="col-md-2">
                    <a class="btn btn-warning btn-md" style="margin-top: 25px;" type="button"
                       (click)="createDepartment(template)" id="createDepartment"><i class="fa fa-plus"></i> Create Department</a>
                  </div>

                </div>  <!-- col-md-6 End -->

              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="(firstName.invalid && firstName.touched) ? 'has-error': ''">
                    <label class="control-label" for="firstName">First Name
                      <i *ngIf="firstName.invalid && firstName.touched" class="fa fa-times-circle-o"></i>
                    </label>
                    <input type="text"
                           class="form-control"
                           id="firstName"
                           name="firstName"
                           [ngModel]="agent.firstName"
                           #firstName="ngModel"
                           required
                           placeholder="First Name"
                    >
                    <span *ngIf="firstName.invalid && firstName.touched" class="help-block">Your First Name is Required !</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="(lastName.invalid && lastName.touched) ? 'has-error': ''">
                    <label class="control-label" for="lastName">Last Name
                      <i *ngIf="lastName.invalid && lastName.touched" class="fa fa-times-circle-o"></i>
                    </label>
                    <input type="text"
                           class="form-control"
                           id="lastName"
                           name="lastName"
                           [ngModel]="agent.lastName"
                           #lastName="ngModel"
                           required
                           placeholder="Last Name"
                    >
                    <span *ngIf="lastName.invalid && lastName.touched"
                          class="help-block">Your Last Name is Required !</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="(email.invalid && email.touched) ? 'has-error': ''">
                    <label class="control-label input-label-toggel" for="email">Email
                      <i *ngIf="email.invalid && email.touched" class="fa fa-times-circle-o"></i>
                    </label>
                    <input type="email"
                           class="form-control input-box-toggel"
                           id="email"
                           name="email"
                           [ngModel]="agent.email"
                           #email="ngModel"
                           email
                           required
                           [disabled]="editMode"
                           placeholder="email"
                    >
                    <div class="row filterSubmit">
                      <label class="switch">
                        <input type="checkbox" name="isEmailNotification" [(ngModel)]="isemailNotification" [checked]="isemailNotification">
                        <span class="slider"></span>
                      </label>
                    </div>

                    <span *ngIf="email.invalid && email.touched && form.controls.email?.errors.email"
                          class="help-block">Please Enter a Proper Email Address!</span>
                    <span *ngIf="email.invalid && email.touched && form.controls.email?.errors.required"
                          class="help-block">Your Email Address is Required!</span>
                  </div>
                </div>
                <div class="col-md-6">
                  <!--<div class="form-group" [ngClass]="(userName.invalid && userName.touched) ? 'has-error': ''">-->
                  <!--<label class="control-label" for="userName">Username-->
                  <!--<i *ngIf="userName.invalid && userName.touched" class="fa fa-times-circle-o"></i>-->
                  <!--</label>-->
                  <!--<input type="text"-->
                  <!--class="form-control"-->
                  <!--id="userName"-->
                  <!--placeholder="Username"-->
                  <!--[ngModel]="agent.userName"-->
                  <!--name="userName"-->
                  <!--required-->
                  <!--ngModel-->
                  <!--#userName="ngModel"-->
                  <!--&gt;-->
                  <!--<span *ngIf="userName.invalid && userName.touched" class="help-block">Your Username is Required !</span>-->
                  <!--</div>-->
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="(phone.invalid && phone.touched) ? 'has-error': ''">
                    <label class="control-label input-label-toggel" for="phone">Phone
                      <i *ngIf="phone.invalid && phone.touched" class="fa fa-times-circle-o"></i>
                    </label>
                    <input type="text"
                           class="form-control input-box-toggel"
                           [textMask]="{mask: mask, guide: false}"
                           id="phone"
                           placeholder="phone"
                           [ngModel]="agent.phone"
                           name="phone"
                           required
                           ngModel
                           #phone="ngModel"
                    >
                    <div class="row filterSubmit">
                      <label class="switch">
                        <input type="checkbox" name="isPhoneNotification" [(ngModel)]="isPhoneNotification" [checked]="isPhoneNotification">
                        <span class="slider"></span>
                      </label>
                    </div>
                    <span *ngIf="phone.invalid && phone.touched"
                          class="help-block">Your Phone Number is Required !</span>
                  </div>
                </div>
                <div class="col-md-6">

                </div>
              </div>

              <div class="col-md-12">
                <div class="box-footer">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-primary pull-right"><i
                    *ngIf="loader" class="fa fa-spinner fa-spin"></i> Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-body" *ngIf="!(authState | async).twilioIsActive">
            <h4>Twilio Credentials Not Added by SuperAdmin :-(</h4>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create Department </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <form #form="ngForm" (submit)="onCreateDep(form)">
          <input type="hidden"
                 id="userId"
                 name="userId"
                 [ngModel]="dep.userId"
                 #userId="ngModel">
          <div class="col-md-6">
            <div class="form-group" [ngClass]="(dName.invalid && dName.touched) ? 'has-error': ''">
              <label class="control-label" for="name">
                <i *ngIf="dName.invalid && dName.touched" class="fa fa-times-circle-o"></i>
                Department Name
              </label>
              <input type="text"
                     class="form-control"
                     id="name"
                     name="departmentName"
                     [ngModel]="dep.departmentName"
                     #dName="ngModel"
                     required
                     placeholder="Enter ..."
              >
              <span *ngIf="dName.invalid && dName.touched" class="help-block">Your Department Name is Required!</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': dDes.invalid && dDes.touched }">
              <label class="control-label" for="detail">
                <i *ngIf="dDes.invalid && dDes.touched" class="fa fa-times-circle-o"></i>
                Department Description
              </label>
              <input type="text"
                     class="form-control"
                     id="detail"
                     name="departmentDetails"
                     ngModel
                     [ngModel]="dep.departmentDetails"
                     #dDes="ngModel"
                     required
                     placeholder="Enter ..."
              >
              <span *ngIf="dDes.invalid && dDes.touched"
                    class="help-block">Your Department Description is Required!</span>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit"
                    [disabled]="form.invalid"
                    class="btn btn-primary pull-right"
            >
              <i *ngIf="loader" class="fa fa-spinner fa-spin"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </ng-template>
  </section>
</div>
