.btn-disabled {
    opacity: .4;
    cursor: not-allowed;
    pointer-events: none;
}
.autoListArea{
    position: relative;
}
.autoList{
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    border: 1px solid #e2e2e2;
    z-index: 99;
    padding: 0;
}
.autoList li{
    list-style: none;
}
.autoList li span{
    display: block;
    padding: 5px 15px;
}
.autoList li:hover{
    background: #e2e2e2;
}
.hideList{
    float: right;
    margin: -27px 10px 0 0;
    cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 87px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 26px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 32px;
}

.filterSubmit {
  /*position: relative;*/
  z-index: 1;
  left: 0px;
  top: 0px;
}
.input-box-toggel {
  float: left;
  width: calc(100% - 84px);
}
.input-label-toggel {
  width: 100% !important;
}

.slider:after
{
  content:'OFF';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 70%;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{
  content:'ON';
  left: 30% !important;
}

