<div class="content-wrapper">
  <!--<section class="content-header">-->
  <!--<h1><span>Widget Section</span></h1>-->
  <!--<ol class="breadcrumb">-->
  <!--<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>-->
  <!--<li><a routerLink="/widget/list"> Widget</a></li>-->
  <!--<li class="active"><a  href="javascript:void(0)"> {{ editMode ? 'Edit' : 'Create' }} </a></li>-->
  <!--</ol>-->
  <!--</section>-->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <!-- /.box-header -->
          <div class="box-body" *ngIf="(authState | async).twilioIsActive">
            <form #form="ngForm">

              <div class="box-header with-border">
                <h3 class="box-title">
                  <span *ngIf="editMode">Edit </span>
                  <span *ngIf="!editMode">Create </span>
                  Widget
                </h3>
              </div>

              <div class="row">

                <!-- Admin for Widget -->
                <div class="col-md-6" [hidden]="(authState | async).isAdmin">
                  <div class="form-group autoListArea">
                    <label class="control-label" for="admin">
                      Admin for Widget
                    </label>

                    <div *ngIf="(authState | async).isAdmin; then thenTemplateName else elseTemplateName"></div>

                    <ng-template #thenTemplateName>
                      <input type="text" class="form-control"
                             name="adminName" autocomplete="off" readonly [value]="(authState | async).name">
                    </ng-template>

                    <ng-template #elseTemplateName>
                      <input type="text" (keyup)="checkAdminname($event.target.value)"

                        [ngClass]="editMode ?  'form-control' : 'form-control' "
                        [ngModel]="adminName" name="adminName" (click)="checkAdminname($event.target.value)"
                             autocomplete="off" [readonly]="editMode">
                      <span *ngIf="( !editMode && this.adminName)" (click)="resetList()" class="hideList"> <i
                        class="fa fa-close"></i> </span>
                      <ul *ngIf="showThis" class="autoList">
                        <li *ngFor="let item of updatedlistOfAdmins; let i = index">
                          <span (click)="assignValue(item.id,item.first_name,item.last_name)">  {{item.first_name}} {{item.last_name}}  </span>
                        </li>
                      </ul>
                    </ng-template>
                    <input type="hidden"  [ngModel]="widget.userId" id="admin" name="userId" #selectedAdmin>


                    <!--<select class="form-control"-->
                    <!--id="admin"-->
                    <!--name="userId"-->
                    <!--[disabled]="editMode || (authState | async).isAdmin"-->
                    <!--#selectedAdmin-->
                    <!--[ngModel]="widget.userId"-->
                    <!--(change)="adminChanged(selectedAdmin.value)">-->
                    <!--<option selected value="0">Choose...</option>-->
                    <!--<option [value]="item.id"-->
                    <!--*ngFor="let item of (afterLoginState | async).admin?.list; let i = index">-->
                    <!--{{item.first_name}} {{item.last_name}}-->
                    <!--</option>-->
                    <!--</select> OLD SELECT -->
                  </div>
                </div>

                <!-- Department -->
                <div class="col-md-6">
                  <div class="col-md-10">
                    <div class="form-group">
                      <label class="control-label" for="department">
                        Department for Widget
                      </label>
                      <angular2-multiselect
                        id="department" name="departmentIdArray"
                        [data]="(afterLoginState | async).department.list"
                        [(ngModel)]="widget.departmentIdArray" [settings]="dropdownSettings"
                      >
                        <c-badge>
                          <ng-template let-item="item">
                            <label style="margin: 0px;">{{item.department_name}}</label>
                          </ng-template>
                        </c-badge>
                      </angular2-multiselect>
                      <!--<select class="form-control"
                              id="department"
                              name="departmentIdArray"
                              #selectedDepartment="ngModel"
                              [ngModel]="widget.departmentIdArray" multiple>
                          <option [value]="item.id"
                                  *ngFor="let item of (afterLoginState | async).department.list">
                              {{item.department_name}}
                          </option>
                      </select>-->
                    </div>
                  </div>
                  <div class="col-md-2 createAgentBtn">
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" (click)="CreateDepartment(template)"><i
                        class="fa fa-plus"> </i> Create Department
                      </button>
                    </div>
                  </div>
                </div>

                <!-- Widget Description -->
                <div class="col-md-6"  [hidden]="!(authState | async).isAdmin">
                  <div class="form-group"
                    [ngClass]="(details.invalid && details.touched) ? 'has-error': ''">
                    <label class="control-label" for="details">
                      <i *ngIf="details.invalid && details.touched"
                        class="fa fa-times-circle-o">
                      </i>
                      Widget Description
                    </label>
                    <input type="text"
                           class="form-control"
                           id="details"
                           name="details"
                      [ngModel]="widget.details"
                      #details="ngModel"
                           placeholder="Description about the widget ...."
                    >
                    <span *ngIf="details.invalid && details.touched"
                      class="help-block">Widget Description is Required !</span>
                  </div>
                </div>

              </div>

              <div class="row">

                <!-- Web Site URL -->
                <div class="col-md-6">
                  <div class="form-group"
                    [ngClass]="(website.invalid && website.touched) ? 'has-error': ''">
                    <label class="control-label" for="website">
                      <i *ngIf="website.invalid && website.touched"
                        class="fa fa-times-circle-o">
                      </i>
                      Website URL
                    </label>
                    <input type="text"
                           class="form-control"
                           id="website"
                           name="website"
                      [ngModel]="widget.website"
                      #website="ngModel"
                           placeholder="Website URL"
                    >
                    <span *ngIf="website.invalid && website.touched" class="help-block">Website URL is Required !</span>
                  </div>
                </div>

                <!-- Widget Description -->
                <div class="col-md-6"   [hidden]="(authState | async).isAdmin">
                  <div class="form-group"
                    [ngClass]="(details.invalid && details.touched) ? 'has-error': ''">
                    <label class="control-label" for="details">
                      <i *ngIf="details.invalid && details.touched"
                        class="fa fa-times-circle-o">
                      </i>
                      Widget Description
                    </label>
                    <input type="text"
                           class="form-control"
                           id="details"
                           name="details"
                      [ngModel]="widget.details"
                      #details="ngModel"
                           placeholder="Description about the widget ...."
                    >
                    <span *ngIf="details.invalid && details.touched"
                      class="help-block">Widget Description is Required !</span>
                  </div>
                </div>

                <div class="col-md-6" *ngIf="widget.script_url">
                  <div class="form-group">
                    <label class="control-label">
                      Script URL
                    </label>
                  </div>
                  {{widget.script_url}}
                </div>

              </div>

              <div class="row">

                <!-- TimeZone -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="timezone">
                      Timezone
                    </label>
                    <select class="form-control"
                            id="timezone"
                            name="scheduleTimezone"
                      #selectedTimezone
                            required
                      [ngModel]="widget.scheduleTimezone"
                    >
                      <option selected value="0">Choose...</option>
                      <option [value]="item.id"
                        *ngFor="let item of (afterLoginState | async).widget?.timezoneList; let i = index"
                      >
                        {{item.timezone_name}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="timeout">
                      Transfer Timeout
                    </label>
                    <input type="text"
                           class="form-control"
                           id="timeout"
                           name="timeout"
                      [ngModel]="widget.transferTimeout"
                      #transferTimeout="ngModel"
                           placeholder="Please put a timout in 00:00 format"
                    >
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group col-md-6">
                    <label class="control-label" for="image">Widget Logo </label>
                    <i class="fa fa-upload fa-4x" aria-hidden="true"></i>
                    <input type="file"
                           class="form-control"
                           id="image"
                      (change)="fileUploaded($event)"
                           accept="image/*"
                           name="image"
                           ngModel
                      #fileUpload="ngModel"

                    >
                  </div>
                  <span *ngIf="fileUpload.invalid && fileUpload.touched && postedImage===undefined" class="help-block">Website URL is Required!</span>
                  <div class="col-md-6" *ngIf="!hideUploadedImage">
                    <div class="image" *ngIf="imgSrc">
                      <i class="fa fa-times-circle fa-pull-right"
                         aria-hidden="true"
                        (click)="removeUploadedImage()"
                      ></i>
                      <img class="img-responsive uploaded-image"
                           width="100%"
                           height="auto"
                        [src]="imgSrc"
                      />
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Limit setting time & days </label>
                    <!--<div *ngFor="let data of limitArray" id="settings">-->
                    <!--<input type="checkbox" name="daysArray" [checked]="widget.daysArray.indexOf(data) > -1" (change)="onChangeDaysArray(data, $event.target.checked)"> {{data}}<br>-->
                    <!--</div>-->
                    <div class="table-striped">
                      <table class="table table-responsive ">
                        <tr>
                          <th>Day</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="sunCbk"
                                       id="sunCbk" [checked]="checkSun" (click)="OpenTimer(1)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Sunday
                              </label>
                            </div>
                          </td>
                          <td  *ngIf="checkSun">
                            <div
                              class="col-md-6" [ngClass]="(sunStartTime.invalid && sunStartTime.touched) ? 'has-error': ''">
                              <!--<div class="col-md-6">-->
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.sunCbk.startTime" name="sunStartTime"
                                                                             class="form-control" #sunStartTime="ngModel"
                                                                             required id="sunStartTime"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(1)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="sunStartTime.invalid && sunStartTime.touched && sunStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td  *ngIf="checkSun">
                            <div
                              class="col-md-6"  [ngClass]="(sunEndTime.invalid && sunEndTime.touched) || sunTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.sunCbk.endTime" name="sunEndTime" #sunEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="sunEndTime" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(1)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="sunTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="sunEndTime.invalid && sunEndTime.touched && sunEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="monCbk"  [checked]="checkMon"   (click)="OpenTimer(2)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Monday
                              </label>
                            </div>
                          </td>
                          <td *ngIf="checkMon">
                            <div
                              class="col-md-6" [ngClass]="(monStartTime.invalid && monStartTime.touched) ? 'has-error': ''">
                              <!--<div class="col-md-6">-->
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.monCbk.startTime" name="monStartTime"
                                                                             class="form-control" #monStartTime="ngModel"
                                                                             required id="startTime1"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(2)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="monStartTime.invalid && monStartTime.touched && monStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="checkMon">
                            <div
                              class="col-md-6"  [ngClass]="(monEndTime.invalid && monEndTime.touched) || monTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.monCbk.endTime" name="monEndTime" #monEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="endTime1" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(2)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="monTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="monEndTime.invalid && monEndTime.touched && monEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="tueCbk" [checked]="checkTue"  (click)="OpenTimer(3)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Tuesday
                              </label>
                            </div>
                          </td>
                          <td *ngIf="checkTue">
                            <div
                              class="col-md-6" [ngClass]="(tueStartTime.invalid && tueStartTime.touched) ? 'has-error': ''">
                              <!--<div class="col-md-6">-->
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.tueCbk.startTime" name="tueStartTime"
                                                                             class="form-control" #tueStartTime="ngModel"
                                                                             required id="tueStartTime"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(3)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="tueStartTime.invalid && tueStartTime.touched && tueStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="checkTue">
                            <div
                              class="col-md-6"  [ngClass]="(tueEndTime.invalid && tueEndTime.touched) || tueTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.tueCbk.endTime" name="tueEndTime" #tueEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="tueEndTime" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(3)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="tueTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="tueEndTime.invalid && tueEndTime.touched && tueEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="wedCbk"
                                       id="wedCbk" [checked]="checkWed" (click)="OpenTimer(4)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Wednesday
                              </label>
                            </div>
                          </td>

                          <td *ngIf="checkWed">
                            <div
                              class="col-md-6" [ngClass]="(wedStartTime.invalid && wedStartTime.touched) ? 'has-error': ''">
                              <!--<div class="col-md-6">-->
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.wedCbk.startTime" name="wedStartTime"
                                                                             class="form-control" #wedStartTime="ngModel"
                                                                             required id="wedStartTime"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(4)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="wedStartTime.invalid && wedStartTime.touched && wedStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="checkWed">
                            <div
                              class="col-md-6"  [ngClass]="(wedEndTime.invalid && wedEndTime.touched) || wedTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.wedCbk.endTime" name="wedEndTime" #wedEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="wedEndTime" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(4)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="wedTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="wedEndTime.invalid && wedEndTime.touched && wedEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="thuCbk"
                                       id="thuCbk" [checked]="checkThu" (click)="OpenTimer(5)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Thursday
                              </label>
                            </div>
                          </td>


                          <td *ngIf="checkThu">
                            <div
                              class="col-md-6" [ngClass]="(thuStartTime.invalid && thuStartTime.touched) ? 'has-error': ''">
                              <!--<div class="col-md-6">-->
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.thuCbk.startTime" name="thuStartTime"
                                                                             class="form-control" #thuStartTime="ngModel"
                                                                             required id="thuStartTime"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(5)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="thuStartTime.invalid && thuStartTime.touched && thuStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="checkThu">
                            <div
                              class="col-md-6"  [ngClass]="(thuEndTime.invalid && thuEndTime.touched) || thuTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.thuCbk.endTime" name="thuEndTime" #thuEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="thuEndTime" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(5)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="thuTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="thuEndTime.invalid && thuEndTime.touched && thuEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="friCbk"  [checked]="checkFri" (click)="OpenTimer(6)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Friday
                              </label>
                            </div>
                          </td>
                          <td *ngIf="checkFri">
                            <div
                              class="col-md-6" [ngClass]="(friStartTime.invalid && friStartTime.touched) ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.friCbk.startTime" name="friStartTime"
                                                                             class="form-control" #friStartTime="ngModel"
                                                                             required id="friStartTime"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(6)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="friStartTime.invalid && friStartTime.touched && friStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="checkFri">
                            <div
                              class="col-md-6"  [ngClass]="(friEndTime.invalid && friEndTime.touched) || friTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.friCbk.endTime" name="friEndTime" #friEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="friEndTime" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(6)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="friTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="friEndTime.invalid && friEndTime.touched && friEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="satCbk"
                                       id="satCbk"  [checked]="checkSat" (click)="OpenTimer(7)">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Saturday
                              </label>
                            </div>
                          </td>
                          <td *ngIf="checkSat">
                            <div
                              class="col-md-6" [ngClass]="(satStartTime.invalid && satStartTime.touched) ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.satCbk.startTime" name="satStartTime"
                                                                             class="form-control" #satStartTime="ngModel"
                                                                             required id="satStartTime"/>
                                  <span class="input-group-addon" (click)="openStartTimePiker(7)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="satStartTime.invalid && satStartTime.touched && satStartTime.errors?.required"
                                  class="help-block">Start Time is Required!</span>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="checkSat">
                            <div
                              class="col-md-6"  [ngClass]="(satEndTime.invalid && satEndTime.touched) || satTimePikerError ? 'has-error': ''">
                              <div class="form-group">
                                <div class="input-group">
                                  <input [ngModel]="widget.satCbk.endTime" name="satEndTime" #satEndTime="ngModel"
                                                                           class="form-control"  [required]="'required'"
                                                                           type="text"
                                                                           id="satEndTime" (ngModelChange)="log2($event)"/>
                                  <span class="input-group-addon" (click)="openEndTimePiker(7)"><i
                                    class="glyphicon glyphicon-time"></i></span>
                                </div>
                                <span *ngIf="satTimePikerError"
                                  class="help-block">End Time Should after Start Time</span>
                                <span *ngIf="satEndTime.invalid && satEndTime.touched && satEndTime.errors?.required"
                                  class="help-block">End Time is Required</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <!--<span *ngIf="widget.daysArray.length === 0" class="help-block" style="color: red !important;">Choosing Available Days is Required!</span>-->
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- From Time -->
                <!--<div class="col-md-6" [ngClass]="(startTime.invalid && startTime.touched) ? 'has-error': ''">-->
                <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
                <!--<div class="form-group">-->
                <!--<label class="control-label" for="startTime">-->
                <!--<i *ngIf="startTime.invalid && startTime.touched"-->
                <!--class="fa fa-times-circle-o">-->
                <!--</i>-->
                <!--From Time-->
                <!--</label>-->
                <!--<div class="input-group">-->
                <!--<input [ngModel]="widget.startTime" name="startTime" class="form-control" #startTime="ngModel" required id="startTime"/>-->
                <!--<span class="input-group-addon" (click)="openTimer()"><i class="glyphicon glyphicon-time"></i></span>-->
                <!--</div>-->
                <!--<span *ngIf="startTime.invalid && startTime.touched && startTime.errors?.required" class="help-block">Start Time is Required!</span>-->
                <!--</div>-->

                <!--</div>-->

                <!-- To Time -->
                <!--<div class="col-md-6"  [ngClass]="(endTime.invalid && endTime.touched) || timePikerError ? 'has-error': ''">-->
                <!--<div class="form-group" >-->
                <!--<label class="control-label" for="endTime">-->
                <!--<i *ngIf="(endTime.invalid && endTime.touched) || timePikerError" class="fa fa-times-circle-o"> </i>-->
                <!--To Time-->
                <!--</label>-->
                <!--<div class="input-group">-->
                <!--<input [ngModel]="widget.endTime" name="endTime" #endTime="ngModel" class="form-control"  [required]="'required'" type="text" id="endTime" (ngModelChange)="log2($event)"/>-->
                <!--<span class="input-group-addon" (click)="openEndTimer()"><i class="glyphicon glyphicon-time"></i></span>-->
                <!--</div>-->
                <!--<span *ngIf="timePikerError" class="help-block">End Time Should after Start Time</span>-->
                <!--<span *ngIf="endTime.invalid && endTime.touched && endTime.errors?.required" class="help-block">End Time is Required</span>-->

                <!--</div>-->
                <!--</div>-->
              </div>
              <div class="row">
                <!-- Area Code -->
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label" for="areaCode">Area Code</label>
                    <input type="text"
                           class="form-control"
                           id="areaCode"
                           name="areaCode"
                      #areaCode
                      [ngModel]="widget.areaCode"
                           placeholder="Area Code"
                    >
                  </div>
                </div>

                <!-- Widget Details -->
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="control-label" for="contains">
                      Number Contains
                    </label>
                    <input type="number"
                           class="form-control"
                           id="contains"
                           name="contains"
                      [ngModel]="widget.contains"
                      #contains
                           placeholder="Number Contains ...."
                    >
                  </div>
                </div>
                <!--Buy number buttons -->
                <div class="col-md-2" *ngIf="!editMode">
                  <label class="control-label"> &nbsp; </label>
                  <button type="button"
                          class="form-control btn btn-success" (click)="buyNumber(areaCode.value,contains.value)">
                    <i *ngIf ="buyButtonLoader" class="fa fa-spinner fa-spin"> </i> Get Number
                  </button>
                </div>
                <div class="col-md-2" *ngIf="editMode">
                  <label class="control-label"> &nbsp; </label>
                  <button type="button"
                          class="form-control btn btn-success" (click)="buyNumber(areaCode.value,contains.value)">
                    <i *ngIf ="buyButtonLoader" class="fa fa-spinner fa-spin"> </i> Change Number
                  </button>
                </div>
              </div>
              <div class="row" *ngIf="numberError && !isBuyNumber">
                <div class="col-md-10">
                  <span style="color: red;">{{ numberErrorMessage }}</span>
                </div>
              </div>
              <div
                class="row" *ngIf="(afterLoginState | async).widget.numberError && !(afterLoginState | async).widget.newSuccessBuyNumberCall">
                <div class="col-md-10">
                  <span style="color: red;">{{ (afterLoginState | async).widget.numberMessage }}</span>
                </div>
              </div>
              <div
                class="row" *ngIf="(afterLoginState | async).widget.numbers.length > 0 && !editMode && isBuyNumber && (afterLoginState | async).widget.newSuccessBuyNumberCall">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="numbers">
                      Choose a Number
                    </label>
                    <select class="form-control"
                            id="numbers"
                            name="number"
                      [ngModel]="widget.phoneNumber" required>
                      <option value=''>Choose a phone number</option>
                      <option *ngFor="let item of (afterLoginState | async).widget.numbers"
                        [value]="item.number"
                      >
                        {{ item.number }} &nbsp;&nbsp;&nbsp; (  {{item.capabilities.voice ? 'Voice  ' : '' }}
                        {{ item.capabilities.SMS ? '/ SMS  ' : '' }}
                        {{ item.capabilities.MMS ? '/ MMS  ' : ''}}
                        {{ item.capabilities.fax ? '/ Fax  ' : '' }}  )
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div
                class="row" *ngIf="(afterLoginState | async).widget.numbers.length > 0 && editMode && isBuyNumber && (afterLoginState | async).widget.newSuccessBuyNumberCall">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="numbers">
                      Choose a Number
                    </label>
                    <select class="form-control"
                            id="numbers"
                            name="number"
                      [ngModel]="widget.phoneNumber" required>
                      <option value=''>Choose a phone number</option>
                      <option *ngFor="let item of (afterLoginState | async).widget.numbers"
                        [value]="item.number"
                      >
                        {{ item.number }} &nbsp;&nbsp;&nbsp; (  {{item.capabilities.voice ? 'Voice  ' : '' }}
                        {{ item.capabilities.SMS ? '/ SMS  ' : '' }}
                        {{ item.capabilities.MMS ? '/ MMS  ' : ''}}
                        {{ item.capabilities.fax ? '/ Fax  ' : '' }}  )
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="editMode && !isBuyNumber">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="numbers">
                      Number
                    </label>
                    <input type="text" name="number" readonly [ngModel]="widget.phoneNumber" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="box-footer">
                  <button
                    type="button" [disabled]="form.invalid || ( (afterLoginState | async).widget.numbers.length == 0 && !editMode)"
                    class="btn btn-primary pull-right" (click)="onSubmit(form)">
                    <i *ngIf ="loader" class="fa fa-spinner fa-spin"></i>
                    Submit
                  </button>
                </div>
              </div>

            </form>
          </div>
          <div class="box-body" *ngIf="!(authState | async).twilioIsActive">
            <h4>Twilio Credentials Not Added by SuperAdmin :-(</h4>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Create Department </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <form #form="ngForm" (submit)="onCreateDep(form)">
          <input type="hidden"
                 id="userId"
                 name="userId"
            [ngModel]="dep.userId"
            #userId="ngModel">
          <div class="col-md-6">

            <div class="form-group">
              <label class="control-label" for="agents">
                Select Agents
              </label>
              <angular2-multiselect
                id="agents" name="agentIds"
                [data]="(afterLoginState | async).agent.list"
                [(ngModel)]="dep.agents" [settings]="agentListDropdownSettings"
              >
                <c-badge>
                  <ng-template let-item="item">
                    <label style="margin: 0px;">{{item.first_name}} {{ item.last_name}}</label>
                  </ng-template>
                </c-badge>
              </angular2-multiselect>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="(dName.invalid && dName.touched) ? 'has-error': ''">
              <label class="control-label" for="name">
                <i *ngIf="dName.invalid && dName.touched" class="fa fa-times-circle-o"></i>
                Department Name
              </label>
              <input type="text"
                     class="form-control"
                     id="name"
                     name="departmentName"
                [ngModel]="dep.departmentName"
                #dName="ngModel"
                     required
                     placeholder="Enter ..."
              >
              <span *ngIf="dName.invalid && dName.touched" class="help-block">Your Department Name is Required!</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{ 'has-error': dDes.invalid && dDes.touched }">
              <label class="control-label" for="detail">
                <i *ngIf="dDes.invalid && dDes.touched" class="fa fa-times-circle-o"></i>
                Department Description
              </label>
              <input type="text"
                     class="form-control"
                     id="detail"
                     name="departmentDetails"
                     ngModel
                [ngModel]="dep.departmentDetails"
                #dDes="ngModel"
                     required
                     placeholder="Enter ..."
              >
              <span *ngIf="dDes.invalid && dDes.touched"
                class="help-block">Your Department Description is Required!</span>
            </div>
          </div>
          <div class="col-md-12">
            <button type="submit"
              [disabled]="form.invalid"
                    class="btn btn-primary pull-right"
            >
              <i *ngIf="loader" class="fa fa-spinner fa-spin"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </ng-template>


  </section>
</div>
