<div class="content-wrapper">
    <!--<section class="content-header">-->
        <!--<h1><span>Widget Section</span></h1>-->
        <!--<ol class="breadcrumb">-->
            <!--<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>-->
            <!--<li><a routerLink="/widget/list"> Widget</a></li>-->
            <!--<li class="active"><a  href="javascript:void(0)"> {{ editMode ? 'Edit' : 'Create' }} </a></li>-->
        <!--</ol>-->
    <!--</section>-->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body" *ngIf="(authState | async).twilioIsActive">
                        <form #form="ngForm">

                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    <span *ngIf="editMode">Edit </span>
                                    <span *ngIf="!editMode">Create </span>
                                    Widget
                                </h3>
                            </div>

                            <div class="row">

                                <!-- Admin for Widget -->
                                <div class="col-md-6" [hidden]="(authState | async).isAdmin">
                                    <div class="form-group autoListArea">
                                        <label class="control-label" for="admin">
                                            Admin for Widget
                                        </label>

                                        <div *ngIf="(authState | async).isAdmin; then thenTemplateName else elseTemplateName"></div>

                                        <ng-template #thenTemplateName>
                                            <input type="text" class="form-control"
                                                   name="adminName" autocomplete="off" readonly [value]="(authState | async).name">
                                        </ng-template>

                                        <ng-template #elseTemplateName>
                                            <input type="text" (keyup)="checkAdminname($event.target.value)"

                                                   [ngClass]="editMode ?  'form-control' : 'form-control' "
                                                   [ngModel]="adminName" name="adminName" (click)="checkAdminname($event.target.value)" autocomplete="off" [readonly]="editMode">
                                            <span *ngIf="( !editMode && this.adminName)" (click)="resetList()" class="hideList"> <i class="fa fa-close"></i> </span>
                                            <ul *ngIf="showThis" class="autoList">
                                                <li *ngFor="let item of updatedlistOfAdmins; let i = index"> <span (click)="assignValue(item.id,item.first_name,item.last_name)">  {{item.first_name}} {{item.last_name}}  </span></li>
                                            </ul>
                                        </ng-template>
                                        <input type="hidden"  [ngModel]="widget.userId" id="admin" name="userId" #selectedAdmin>


                                        <!--<select class="form-control"-->
                                                <!--id="admin"-->
                                                <!--name="userId"-->
                                                <!--[disabled]="editMode || (authState | async).isAdmin"-->
                                                <!--#selectedAdmin-->
                                                <!--[ngModel]="widget.userId"-->
                                                <!--(change)="adminChanged(selectedAdmin.value)">-->
                                            <!--<option selected value="0">Choose...</option>-->
                                            <!--<option [value]="item.id"-->
                                                    <!--*ngFor="let item of (afterLoginState | async).admin?.list; let i = index">-->
                                                <!--{{item.first_name}} {{item.last_name}}-->
                                            <!--</option>-->
                                        <!--</select> OLD SELECT -->
                                    </div>
                                </div>

                                <!-- Department -->
                                <div class="col-md-6"  >
                                    <div class="form-group">
                                        <label class="control-label" for="department">
                                            Department for Widget
                                        </label>
                                      <angular2-multiselect
                                        id="department" name="departmentIdArray"
                                        [data]="(afterLoginState | async).department.list"
                                        [(ngModel)]="widget.departmentIdArray" [settings]="dropdownSettings"
                                      >
                                        <c-badge>
                                          <ng-template let-item="item">
                                            <label style="margin: 0px;">{{item.department_name}}</label>
                                          </ng-template>
                                        </c-badge>
                                      </angular2-multiselect>
                                        <!--<select class="form-control"
                                                id="department"
                                                name="departmentIdArray"
                                                #selectedDepartment="ngModel"
                                                [ngModel]="widget.departmentIdArray" multiple>
                                            <option [value]="item.id"
                                                    *ngFor="let item of (afterLoginState | async).department.list">
                                                {{item.department_name}}
                                            </option>
                                        </select>-->
                                    </div>
                                </div>

                            </div>

                            <div class="row"  >

                                <!-- Web Site URL -->
                                <div class="col-md-6">
                                    <div class="form-group"
                                         [ngClass]="(website.invalid && website.touched) ? 'has-error': ''">
                                        <label class="control-label" for="website">
                                            <i *ngIf="website.invalid && website.touched"
                                               class="fa fa-times-circle-o">
                                            </i>
                                            Website URL
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="website"
                                               name="website"
                                               [ngModel]="widget.website"
                                               #website="ngModel"
                                               placeholder="Website URL"
                                        >
                                        <span *ngIf="website.invalid && website.touched" class="help-block">Website URL is Required !</span>
                                    </div>
                                </div>

                                <!-- Widget Details -->
                                <div class="col-md-6">
                                    <div class="form-group"
                                         [ngClass]="(details.invalid && details.touched) ? 'has-error': ''">
                                        <label class="control-label" for="details">
                                            <i *ngIf="details.invalid && details.touched"
                                               class="fa fa-times-circle-o">
                                            </i>
                                            Widget Details
                                        </label>
                                        <input type="text"
                                               class="form-control"
                                               id="details"
                                               name="details"
                                               [ngModel]="widget.details"
                                               #details="ngModel"
                                               placeholder="Details about the widget ...."
                                        >
                                        <span *ngIf="details.invalid && details.touched" class="help-block">Widget details is Required !</span>
                                    </div>
                                </div>

                            </div>

                            <div class="row"  >

                                <!-- TimeZone -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="timezone">
                                            Timezone
                                        </label>
                                        <select class="form-control"
                                                id="timezone"
                                                name="scheduleTimezone"
                                                #selectedTimezone
                                                required
                                                [ngModel]="widget.scheduleTimezone"
                                        >
                                            <option selected value="0">Choose...</option>
                                            <option [value]="item.id"
                                                    *ngFor="let item of (afterLoginState | async).widget?.timezoneList; let i = index"
                                            >
                                                {{item.timezone_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Area Code -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="areaCode">Area Code</label>
                                        <input type="text"
                                               class="form-control"
                                               id="areaCode"
                                               name="areaCode"
                                               [ngModel]="widget.areaCode"
                                               placeholder="Area Code"
                                        >
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group col-md-6">
                                        <label class="control-label" for="image">Widget Logo </label>
                                        <i class="fa fa-upload fa-4x" aria-hidden="true"></i>
                                        <input type="file"
                                               class="form-control"
                                               id="image"
                                               (change)="fileUploaded($event)"
                                               accept="image/*"
                                               name="image"
                                               ngModel
                                               #fileUpload="ngModel"

                                        >
                                    </div>
                                    <span *ngIf="fileUpload.invalid && fileUpload.touched && postedImage===undefined" class="help-block">Website URL is Required!</span>
                                    <div class="col-md-6" *ngIf="!hideUploadedImage">
                                            <div class="image" *ngIf="imgSrc">
                                                <i class="fa fa-times-circle fa-pull-right"
                                                   aria-hidden="true"
                                                   (click)="removeUploadedImage()"
                                                ></i>
                                                <img class="img-responsive uploaded-image"
                                                     width="100%"
                                                     height="auto"
                                                     [src]="imgSrc"
                                                />
                                            </div>
                                        </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="settings">Limit setting time & days </label>
                                      <div *ngFor="let data of limitArray" id="settings">
                                        <input type="checkbox" name="daysArray" [checked]="widget.daysArray.indexOf(data) > -1" (change)="onChangeDaysArray(data, $event.target.checked)"> {{data}}<br>
                                      </div>

                                        <!--<select name="daysArray"
                                                class="form-control"
                                                [ngModel]="widget.daysArray"
                                                required
                                                #daysArray="ngModel" id="settings" multiple>
                                            <option value="Mon">Mon</option>
                                            <option value="Tue">Tue</option>
                                            <option value="Wed">Wed</option>
                                            <option value="Thu">Thu</option>
                                            <option value="Fri">Fri</option>
                                            <option value="Sat">Sat</option>
                                            <option value="Sun">Sun</option>
                                        </select>-->
                                        <span *ngIf="widget.daysArray.length === 0" class="help-block" style="color: red !important;">Choosing Available Days is Required!</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row"  >
                                <!-- From Time -->
                                <div class="col-md-6" [ngClass]="(startTime.invalid && startTime.touched) ? 'has-error': ''">
                                <!--<div class="col-md-6">-->
                                    <div class="form-group">
                                        <label class="control-label" for="startTime">
                                            <i *ngIf="startTime.invalid && startTime.touched"
                                               class="fa fa-times-circle-o">
                                            </i>
                                             From Time
                                        </label>
                                        <div class="input-group">
                                            <input [ngModel]="widget.startTime" name="startTime" class="form-control" #startTime="ngModel" required id="startTime"/>
                                            <span class="input-group-addon" (click)="openTimer()"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                        <span *ngIf="startTime.invalid && startTime.touched && startTime.errors?.required" class="help-block">Start Time is Required!</span>
                                    </div>

                                </div>

                                <!-- To Time -->
                                <div class="col-md-6"  [ngClass]="(endTime.invalid && endTime.touched) || timePikerError ? 'has-error': ''">
                                    <div class="form-group" >
                                        <label class="control-label" for="endTime">
                                            <i *ngIf="(endTime.invalid && endTime.touched) || timePikerError" class="fa fa-times-circle-o"> </i>
                                             To Time
                                        </label>
                                        <div class="input-group">
                                            <input [ngModel]="widget.endTime" name="endTime" #endTime="ngModel" class="form-control"  [required]="'required'" type="text" id="endTime" (ngModelChange)="log2($event)"/>
                                            <span class="input-group-addon" (click)="openEndTimer()"><i class="glyphicon glyphicon-time"></i></span>
                                        </div>
                                        <span *ngIf="timePikerError" class="help-block">End Time Should before Start Time</span>
                                        <span *ngIf="endTime.invalid && endTime.touched && endTime.errors?.required" class="help-block">End Time is Required</span>

                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="widget.script_url">
                              <div class="col-md-6">
                                  <div class="form-group">
                                      <label class="control-label" for="startTime">
                                          Script URL
                                      </label>
                                  </div>
                                {{widget.script_url}}
                              </div>
                            </div>
                            <div class="col-md-12">
                                <div class="box-footer">
                                    <button type="button" [disabled]="timePikerError || form.invalid || widget.daysArray.length === 0" class="btn btn-primary pull-right" (click)="onSubmit(form)">
                                        <i *ngIf ="loader" class="fa fa-spinner fa-spin"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="box-body" *ngIf="!(authState | async).twilioIsActive">
                        <h4>Twilio Credentials Not Added by SuperAdmin :-(</h4>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>
