label {
    display: block;
}

i.fa-upload {
    position: absolute;
}

i.fa-upload, i.fa-times-circle {
    cursor: pointer;
}

input[type=file] {
    opacity: 0;
}




/** css for auto complite droupdown */

.btn-disabled {
    opacity: .4;
    cursor: not-allowed;
    pointer-events: none;
}
.autoListArea{
    position: relative;
}
.autoList{
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 99;
    padding: 0;
}
.newbutton{
  height: 46px;
  margin-top: -4px;
  font-size: 18px;
}
.autoList li{
    list-style: none;
}
.autoList li span{
    display: block;
    padding: 5px 15px;
}
.autoList li:hover{
    background: #e2e2e2;
}
.hideList{
    float: right;
    margin: -27px 10px 0 0;
    cursor: pointer;
    display:inline-block;
    position: relative;
}

.createAgentBtn{
    padding-top: 29px;
}

.uploadBtnArea{
    width: 52px;
    height: 56px;
    float: left;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
input[type=file]{
    padding: 0;
    width: 52px;
    height: 75px;
    float: left;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 50;
    top: -23px;
}
.uploadLabel{
    pointer-events: none;
}
.createAgentBtn{
    padding-top: 25px;
}


/*Media Query for responsive*/
@media screen and (max-width:764px) {
    .createAgentBtn {
        padding-top: 0px !important;
    }
}


.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}

.timeTable tr td:first-child{
    width: 114px;
}
.timeTable .checkbox label{
    padding-left: 0;
}
.timeTable .col-md-10{
    padding-left: 0;
}
.timeTable .col-md-10{
    min-width: 145px;
}
.widgetScript{
    word-break: break-all;
}


@media only screen and (max-width: 1716px) and (min-width: 768px){
  .createAgentBtn{
    width:100% !important;
  }
}

@media screen and (max-width: 764px){
    .createAgentBtn{
        padding-top: 25px !important;
    }
}

@media screen and (max-width: 991px){
    .uploadBtnArea{
        margin-bottom: 32px;
    }
    .timeTable{
        border: 0;
    }
    .timeTable tr td{
        padding-right: 0;
    }
    .timeTable tr td:first-child{
        padding-left: 0;
    }
    .timeTable tr td:first-child{
        width: 90px;
    }
    .timeTable tr td:first-child label{
        font-size: 13px;
    }
}
@media screen and (max-width: 479px){
    .input-group-addon{
        padding: 6px 4px;
    }
    .timeTable input[type="text"]{
        padding: 6px 4px;
    }
    .timeTable td .col-md-10{
        width: 83px;
        padding: 0;
    }
    .timeTable .checkbox label{
        padding-left: 0;
    }
    .timeTable .col-md-10{
        min-width: auto;
    }
    .depaertArea{
        width: 100%;
    }
}

