a {
    cursor: pointer;
}
@media (max-width: 767px) {
  .sidebar-toggle {
    position: absolute;
    top: -50px;
  }
  .navbar-custom-menu {
    position: absolute;
    top: -50px;
    right: 0px;
  }
  .navbar-static-top {
    background: none;
    min-height: auto;
  }
}
