.btn-disabled {
    opacity: .4;
    cursor: not-allowed;
    pointer-events: none;
}
.autoListArea{
    position: relative;
}
.autoList{
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    border: 1px solid #e2e2e2;
    z-index: 99;
    padding: 0;
}
.autoList li{
    list-style: none;
}
.autoList li span{
    display: block;
    padding: 5px 15px;
}
.autoList li:hover{
    background: #e2e2e2;
}
.hideList{
    float: right;
    margin: -27px 10px 0 0;
    cursor: pointer;
    display:inline-block;
    position: relative;
}
.createAgentBtn{
    padding-top: 25px;
}
.depaertArea {
  padding-left: 0;
  padding-right: 0;
  width: calc(100% - 131px);
  float: left;
    margin-right: 15px;
}

/*Media Query for responsive*/

/* toggle switch  */

.switch {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 34px;
}

.switch input {display:none;}

.sliderEmail {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderEmail:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

.sliderPhone {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderPhone:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 26px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}


input:checked + .sliderEmail {
  background-color: #2196F3;
}

input:focus + .sliderEmail {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderPhone {
  background-color: #2196F3;
}

input:focus + .sliderPhone {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderEmail:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 10px;
}

input:checked + .sliderPhone:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 10px;
}


.filterSubmit {
  /*position: relative;*/
  z-index: 1;
  left: 0px;
  top: 0px;
}
.input-box-toggel {
  float: left;
  width: calc(100% - 222px);
}
.input-label-toggel {
  width: 100% !important;
}

.sliderEmail:after
{
  content:'Email Notification Off';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 64%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  width: 70%;
  text-align: left;
}

input:checked + .sliderEmail:after
{
  content:'Email Notification On';
  left: 65% !important;
}

.sliderPhone:after
{
  content:'SMS Notification Off';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 64%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  width: 70%;
  text-align: left;
}

input:checked + .sliderPhone:after
{
  content:'SMS Notification On';
  left: 65% !important;
}

@media screen and (max-width: 481px) {
  .input-box-toggel{
    width: 100%;
  }
  .switch{
    margin: 10px 15px 0 0;
    float: right;
  }
}
.newbutton{
  height: 46px;
  margin-top: -4px;
  font-size: 18px;
}

@media only screen and (max-width: 1716px) and (min-width: 768px) {
  .createAgentBtn {
    width: 100% !important;
  }
}
@media screen and (max-width: 479px){
  .depaertArea{
    width: 100%;
  }
}
