<div class="content-wrapper">
  <!--<section class="content-header">-->
    <!--<h1>Department Section</h1>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>-->
      <!--<li><a routerLink="/department/list">Department</a></li>-->
      <!--<li class="active"><a href="javascript:void(0)">{{ editMode ? 'Edit' : 'Create' }}</a></li>-->
    <!--</ol>-->
  <!--</section>-->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <!-- /.box-header -->
          <div class="box-body" *ngIf="(authState | async).twilioIsActive">
            <form #form="ngForm" (submit)="onCreateDep(form)">
              <!-- text input -->
              <div class="box-header with-border">
                <h3 class="box-title">{{ editMode ? 'Edit' : 'Create' }} Department</h3>
              </div>
              <div class="col-md-12">
                <div class="row">

                  <div *ngIf="(authState | async).isAdmin; then thenTemplateName else elseTemplateName"></div>

                  <ng-template #thenTemplateName>
                    <input type="hidden" class="form-control"
                           name="adminName" autocomplete="off" readonly [value]="(authState | async).name">
                  </ng-template>

                  <ng-template #elseTemplateName>
                    <div class="col-md-6">
                      <div class="form-group autoListArea">
                        <label class="control-label" for="admin">
                          Admin for Department
                        </label>

                        <input type="text" (keyup)="checkAdminname($event.target.value)"
                               [ngClass]="editMode ?  'form-control' : 'form-control' "
                               [ngModel]="adminName" name="adminName" (click)="checkAdminname($event.target.value)"
                               autocomplete="off" [readonly]="editMode" class="listBox" #selectOption>
                        <span *ngIf="( !editMode && this.adminName)" (click)="resetList()" class="hideList"> <i
                          class="fa fa-close"></i> </span>
                        <ul *ngIf="showThis" class="autoList" id="autoList">
                          <li *ngFor="let item of updatedlistOfAdmins; let i = index"><span
                            (click)="assignValue(item.id,item.first_name,item.last_name)">  {{item.first_name}} {{item.last_name}}  </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                  <input type="hidden" [ngModel]="dep.userId" id="admin" name="userId" #selected>

                  <div class="col-md-5" *ngIf="selected.value > 0">
                    <div class="form-group">
                      <label class="control-label" for="agents">
                        Select Agents
                      </label>
                      <angular2-multiselect
                        id="agents" name="agentIds"
                        [data]="(afterLoginState | async).agent.list"
                        [(ngModel)]="dep.agents" [settings]="dropdownSettings"
                      >
                        <c-badge>
                          <ng-template let-item="item">
                            <label style="margin: 0px;">{{item.first_name}} {{ item.last_name}}</label>
                          </ng-template>
                        </c-badge>
                      </angular2-multiselect>
                      <!--<select class="form-control"-->
                              <!--id="agents"-->
                              <!--name="agentIds"-->
                              <!--[(ngModel)]="dep.agents"-->
                              <!--multiple>-->
                          <!--<option [value]="item.id" *ngFor="let item of (afterLoginState | async).agent.list; let i = index">-->
                              <!--{{item.first_name}} {{item.last_name}}-->
                          <!--</option>-->
                      <!--</select>-->
                    </div>
                  </div>
                    <div class="col-md-1 createAgentBtn"  *ngIf="selected.value > 0">
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" (click)="CreateAgent(template)" id="createAgent"><i class="fa fa-plus"> </i> Create Agent</button>
                        </div>
                    </div>

                </div>
              </div>
              <div class="col-md-6" *ngIf="selected.value > 0">
                <div class="form-group" [ngClass]="(dName.invalid && dName.touched) ? 'has-error': ''">
                  <label class="control-label" for="name">
                    <i *ngIf="dName.invalid && dName.touched" class="fa fa-times-circle-o"></i>
                    Department Name
                  </label>
                  <input type="text"
                         class="form-control"
                         id="name"
                         name="departmentName"
                         [ngModel]="dep.departmentName"
                         #dName="ngModel"
                         required
                         placeholder="Enter ..."
                  >
                  <span *ngIf="dName.invalid && dName.touched"
                        class="help-block">Your Department Name is Required!</span>
                </div>
              </div>
              <div class="col-md-6" *ngIf="selected.value > 0">
                <div class="form-group" [ngClass]="{ 'has-error': dDes.invalid && dDes.touched }">
                  <label class="control-label" for="detail">
                    <i *ngIf="dDes.invalid && dDes.touched" class="fa fa-times-circle-o"></i>
                    Department Description
                  </label>
                  <input type="text"
                         class="form-control"
                         id="detail"
                         name="departmentDetails"
                         ngModel
                         [ngModel]="dep.departmentDetails"
                         #dDes="ngModel"
                         required
                         placeholder="Enter ..."
                  >
                  <span *ngIf="dDes.invalid && dDes.touched"
                        class="help-block">Your Department Description is Required!</span>
                </div>
              </div>
              <div class="col-md-12">
                <div class="box-footer">
                  <button type="submit"
                          [disabled]="form.invalid || selected.value <= 0"
                          class="btn btn-primary pull-right"
                  >
                    <i *ngIf="loader" class="fa fa-spinner fa-spin"></i> Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="box-body" *ngIf="!(authState | async).twilioIsActive">
            <h4>Twilio Credentials Not Added by SuperAdmin :-(</h4>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
      <ng-template #template>
          <div class="modal-header">
              <h4 class="modal-title pull-left">Create Agent </h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form #form="ngForm">
                  <input type="hidden"
                         id="parentId"
                         name="parentId"
                         [ngModel]="dep.userId"
                         #userId="ngModel">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group" [ngClass]="(firstName.invalid && firstName.touched) ? 'has-error': ''">
                              <label class="control-label" for="firstName">First Name
                                  <i *ngIf="firstName.invalid && firstName.touched" class="fa fa-times-circle-o"></i>
                              </label>
                              <input type="text"
                                     class="form-control"
                                     id="firstName"
                                     name="firstName"
                                     [ngModel]="agent.firstName"
                                     #firstName="ngModel"
                                     required
                                     placeholder="First Name"
                              >
                              <span *ngIf="firstName.invalid && firstName.touched" class="help-block">Your First Name is Required !</span>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group" [ngClass]="(lastName.invalid && lastName.touched) ? 'has-error': ''">
                              <label class="control-label" for="lastName">Last Name
                                  <i *ngIf="lastName.invalid && lastName.touched" class="fa fa-times-circle-o"></i>
                              </label>
                              <input type="text"
                                     class="form-control"
                                     id="lastName"
                                     name="lastName"
                                     [ngModel]="agent.lastName"
                                     #lastName="ngModel"
                                     required
                                     placeholder="Last Name"
                              >
                              <span *ngIf="lastName.invalid && lastName.touched"
                                    class="help-block">Your Last Name is Required !</span>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group" [ngClass]="(email.invalid && email.touched) ? 'has-error': ''">
                              <label class="control-label input-label-toggel" for="email">Email
                                  <i *ngIf="email.invalid && email.touched" class="fa fa-times-circle-o"></i>
                              </label>
                              <input type="email"
                                     class="form-control input-box-toggel"
                                     id="email"
                                     name="email"
                                     [ngModel]="agent.email"
                                     #email="ngModel"
                                     email
                                     required
                                     placeholder="email"
                              >
                              <div class="row filterSubmit">
                                  <label class="switch">
                                      <input type="checkbox" name="isEmailNotification" [(ngModel)]="agent.isemailNotification" [checked]="isemailNotification">
                                      <span class="slider"></span>
                                  </label>
                              </div>

                              <span *ngIf="email.invalid && email.touched && form.controls.email?.errors.email"
                                    class="help-block">Please Enter a Proper Email Address!</span>
                              <span *ngIf="email.invalid && email.touched && form.controls.email?.errors.required"
                                    class="help-block">Your Email Address is Required!</span>
                          </div>
                        </div>
                          <div class="col-md-6">
                              <div class="form-group" [ngClass]="(phone.invalid && phone.touched) ? 'has-error': ''">
                                  <label class="control-label input-label-toggel" for="phone">Phone
                                      <i *ngIf="phone.invalid && phone.touched" class="fa fa-times-circle-o"></i>
                                  </label>
                                  <input type="text"
                                         class="form-control input-box-toggel"
                                         [textMask]="{mask: mask, guide: false}"
                                         id="phone"
                                         placeholder="phone"
                                         [ngModel]="agent.phone"
                                         name="phone"
                                         required
                                         ngModel
                                         #phone="ngModel"
                                  >
                                  <div class="row filterSubmit">
                                      <label class="switch">
                                          <input type="checkbox" name="isPhoneNotification" [(ngModel)]="agent.isPhoneNotification" [checked]="isPhoneNotification">
                                          <span class="slider"></span>
                                      </label>
                                  </div>
                                  <span *ngIf="phone.invalid && phone.touched"
                                        class="help-block">Your Phone Number is Required !</span>
                              </div>
                          </div>
                      </div>
                  <div class="row">
                  <div class="col-md-12">
                      <button type="button" [disabled]="form.invalid" class="btn btn-primary pull-right" (click)="onCreateAgentSubmit(form)"> <i *ngIf="createAgentLoader" class="fa fa-spinner fa-spin"></i> Submit</button>
                  </div>
                  </div>
              </form>
          </div>
      </ng-template>
  </section>
</div>
