<div class="content-wrapper">
  <section class="content-header">
    <h1>Live Sessions</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="col-xs-12">
            <div class="row">
              <h2>Messages
                <div class="pull-left">Search : <input [(ngModel)]="searchKeywords" placeholder="All keywords" (ngModelChange)="agentFilterKeyUp()"></div>
              </h2>

            </div>

            <div class="row" *ngIf="agentList !== undefined && agentList.length">
              <div class="col-md-2 col-sm-2">
                <div class="row">
                  <div class="chat-list">
                    <ul>
                      <ng-container
                        *ngFor="let agent of agentList; let i = index;">
                        <li [ngClass]="{ active : agentIndex == i}" (click)="changeAgent(i)"
                            *ngIf="agent.chat.length > 0 && agent.liveStatus">
                          <div class="col-md-12">
                            <div class="chat-content">
                              <h3>{{agent.agent.first_name + ' ' + agent.agent.last_name}}</h3>
                            </div>
                          </div>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2">
                <div class="row">
                  <div class="chat-list">
                    <ul *ngIf="agentList[agentIndex].chat !== undefined">
                      <ng-container
                        *ngFor="let client of agentList[agentIndex]?.chat; let j = index;">
                        <li [ngClass]="{ active : clientIndex == j}" (click)="changeClient(j)"
                            *ngIf="client.status === '2'">
                          <div class="col-md-2">
                            <div class="chat-head row">
                              <img src="../../../../assets/img/avatar5.png"
                                   class="img-responsive">
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="chat-content">
                              <h3>{{client.client_name}} <span>{{client.chat_time.date | amFromUtc | amLocal | amTimeAgo}}</span>
                              </h3>
                            </div>
                          </div>
                        </li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-sm-8" *ngIf="agentList[agentIndex].chat !== undefined && agentList[agentIndex].chat[clientIndex] !== undefined">
                <div class="row">
                  <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-body">
                      <div class="chat-btn">
                        <div class="direct-chat-messages"  #scrollChat [scrollTop]="scrollChat.scrollHeight">
                          <!-- Message. Default to the left -->
                          <div>
                            <div class="direct-chat-msg"
                                 [ngClass]="{ right: chat.direction == 2 }"
                                 *ngFor="let chat of agentList[agentIndex].chat[clientIndex].chats">
                              <div *ngIf="agentList[agentIndex].chat[clientIndex].status === '2'">
                                <div class="direct-chat-info clearfix">
                                                            <span class="direct-chat-name"
                                                                  [ngClass]="chat.direction == 2 ? 'pull-right' : 'pull-left'">{{chat.user}}</span>
                                  <span class="direct-chat-timestamp"
                                        [ngClass]="chat.direction == 1 ? 'pull-right' : 'pull-left'"> {{chat.created_at.date | amFromUtc | amLocal | amTimeAgo }} </span>
                                </div>
                                <img class="direct-chat-img"
                                     [src]="chat.direction == 2 ?  '../../../../assets/img/user1-128x128.jpg' : '../../../../assets/img/user3-128x128.jpg'"
                                     alt="Message User Image"><!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                  <div *ngIf="chat.isMMS">
                                    <a [href]="chat.fileUrl" target="_blank">
                                      <div *ngIf="chat.fileType === 'image'">
                                        <img [src]="chat.fileUrl" [alt]="chat.fileUrl" class="docImage"/>
                                      </div>
                                      <div *ngIf="chat.fileType === 'audio'">
                                        <img [src]="'../../../../assets/img/audio.png'" [alt]="chat.fileUrl" class="docImage"/>
                                      </div>
                                      <div *ngIf="chat.fileType === 'video'">
                                        <img [src]="'../../../../assets/img/video.jpeg'" [alt]="chat.fileUrl" class="docImage"/>
                                      </div>
                                      <div *ngIf="chat.fileType === 'document'">
                                        <img [src]="'../../../../assets/img/doc.jpg'" [alt]="chat.fileUrl" class="docImage"/>
                                      </div>
                                    </a>
                                  </div>
                                  {{chat.message}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--/.direct-chat-messages-->

                    </div>
                    <!-- /.box-footer-->
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="box box-primary">
                <div class="box-body" *ngIf="!live">
                  <h4>No live sessions at this Moment!</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
</div>


