/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "~ng-pick-datetime/assets/style/picker.min.css";

html{background: #D2D6DE; height: auto;}
body{background: #D2D6DE;}

angular2-multiselect .c-btn{
    padding: 3px !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border-color: #d2d6de !important;
}
.depaertArea{
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 167px);
    float: left;
    margin-right: 14px;
}
