<div class="content-wrapper">
    <section class="content-header">
        <h1>New Requests</h1>
        <!--<ol class="breadcrumb">-->
            <!--<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>-->
            <!--<li><a href="javascript:void(0)">New Requests</a></li>-->
            <!--<li class="active">Chat</li>-->
        <!--</ol>-->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="col-xs-12">
                        <div class="row">
                            <h2>Messages</h2>
                        </div>

                        <div class="row" *ngIf="!!(showChats() | async).length">
                            <div class="col-md-3 col-sm-3">
                                <div class="row">
                                    <div class="chat-list">
                                        <ul>
                                            <ng-container
                                                    *ngFor="let contact of (chatState | async).ongoing; let i = index;">
                                                <li [ngClass]="{ active : currentChatIndex == i}"
                                                    (click)="changeCurrentChat(i)" *ngIf="contact.status == 1 || contact.status == 6">
                                                    <div class="col-md-2">
                                                        <div class="chat-head row">
                                                            <img src="../../../../assets/img/avatar5.png"
                                                                 class="img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="chat-content">
                                                            <h3>{{contact.client}} <span>{{contact.chatTime.date | amFromUtc | amLocal | amTimeAgo}} </span>
                                                            </h3>
                                                            <p>{{contact.room}}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9">
                                <div class="row">
                                    <div class="box box-primary direct-chat direct-chat-primary">
                                        <div class="box-body">
                                            <div class="chat-btn">
                                                <!-- Conversations are loaded here -->
                                                <div class="direct-chat-messages">
                                                    <!-- Message. Default to the left -->
                                                    <div *ngIf="(chatState | async).ongoing[currentChatIndex]?.status == 1">
                                                        <button (click)="onSomeMsgAction(2)" class="btn btn-primary">
                                                            Accept
                                                        </button>
                                                        <button (click)="onSomeMsgAction(3)" class="btn btn-danger">
                                                            Reject
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.direct-chat-messages-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="row" *ngIf="!(chatState | async).ongoing.length">-->
                        <!--<h2>No Ongoing Chats at this Moment!</h2>-->
                        <!--</div>-->

                        <div class="row">
                            <div class="box box-primary">
                                <div class="box-body" *ngIf="!(showChats() | async).length">
                                    <h4>No new requests at this Moment!</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>


